.content .block-properties {
    visibility: hidden;
    position: relative;
}

.content .block-properties:hover {
    visibility: visible;
}

.content .block-properties::after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "👻";
}

.content .block-properties:hover::after {
    content: "";
}

.external-link[href^="agenda-plugin://"]::before {
  content: '📅';
  margin: 0 4px;
}
